<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Login to FantasyRaid</h1>
    <p>Hello <%= @user.name %>, click on the following link to login to FantasyRush: <% link_to users_path %></p>
  </body>
</html>
